<div class="row">
	<div class="col-md-4 col-sm-6">
		<div class="card" style="width: 18rem;">
		  <img src="https://i.pinimg.com/474x/e1/06/02/e1060277ef050d22c72726d0cae595d1.jpg" class="card-img-top img-responsive" alt="Jwellry">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <div >
		    	<div class="price pull-left">$15</div>
		    	<a href="#" class="btn btn-primary pull-right">Go somewhere</a>
		    </div>
		  </div>
		</div>
	</div>	
	<div class="col-md-4 col-sm-6">
		<div class="card" style="width: 18rem;">
		  <img src="https://i.pinimg.com/474x/e1/06/02/e1060277ef050d22c72726d0cae595d1.jpg" class="card-img-top img-responsive" alt="Jwellry">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <div >
		    	<div class="price pull-left">$15</div>
		    	<a href="#" class="btn btn-primary pull-right">Go somewhere</a>
		    </div>
		  </div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6">
		<div class="card" style="width: 18rem;">
		  <img src="https://i.pinimg.com/474x/e1/06/02/e1060277ef050d22c72726d0cae595d1.jpg" class="card-img-top img-responsive" alt="Jwellry">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <div >
		    	<div class="price pull-left">$15</div>
		    	<a href="#" class="btn btn-primary pull-right">Go somewhere</a>
		    </div>
		  </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-sm-6">
		<div class="card" style="width: 18rem;">
		  <img src="https://i.pinimg.com/474x/e1/06/02/e1060277ef050d22c72726d0cae595d1.jpg" class="card-img-top img-responsive" alt="Jwellry">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <div >
		    	<div class="price pull-left">$15</div>
		    	<a href="#" class="btn btn-primary pull-right">Go somewhere</a>
		    </div>
		  </div>
		</div>
	</div>	
	<div class="col-md-4 col-sm-6">
		<div class="card" style="width: 18rem;">
		  <img src="https://i.pinimg.com/474x/e1/06/02/e1060277ef050d22c72726d0cae595d1.jpg" class="card-img-top img-responsive" alt="Jwellry">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <div >
		    	<div class="price pull-left">$15</div>
		    	<a href="#" class="btn btn-primary pull-right">Go somewhere</a>
		    </div>
		  </div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6">
		<div class="card" style="width: 18rem;">
		  <img src="https://i.pinimg.com/474x/e1/06/02/e1060277ef050d22c72726d0cae595d1.jpg" class="card-img-top img-responsive" alt="Jwellry">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <div >
		    	<div class="price pull-left">$15</div>
		    	<a href="#" class="btn btn-primary pull-right">Go somewhere</a>
		    </div>
		  </div>
		</div>
	</div>
</div>