<div class="row">
	{{# each books}}
		<div class="col-md-4 col-sm-6">
			<div class="card" style="width: 18rem;">
			  <img src="{{image}}" class="card-img-top img-responsive" alt="Jwellry">
			  <div class="card-body">
			    <h5 class="card-title">{{title}}</h5>
			    <p class="card-text">{{description}}</p>
			    <div >
			    	<div class="price pull-left">${{price}}</div>
			    	<a href="#" class="btn btn-primary pull-right">Go somewhere</a>
			    </div>
			  </div>
			</div>	
		</div>	
	{{/each}}	
</div>